@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-neutral-900 h-full w-screen flex items-center justify-center overflow-hidden
}

* {
    scrollbar-width: none;
}
*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button {
    @apply w-full rounded-md text-white font-medium flex gap-1 py-2 px-4 justify-center items-center cursor-pointer hover:bg-green-500 transition duration-300
}

label {
    @apply text-sm font-normal text-neutral-500 mb-1
}

input {
    @apply w-full px-4 py-2 rounded-lg !outline-none text-white bg-neutral-800 placeholder:text-neutral-500 disabled:text-neutral-500
}

.title {
    @apply text-lg text-white font-bold
}

.subtitle {
    @apply text-base text-neutral-500 font-normal
}