@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-neutral-900 h-full w-screen flex items-center justify-center overflow-hidden
}

* {
    scrollbar-width: none;
}
*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}